<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ORM</title>
</head>
<body>
    <h1>ORM-Object-relational mapping</h1>
    <p>Object-relational mapping (ORM) is a mechanism that makes it possible to address, access and manipulate objects without having to consider how those objects relate to their data sources.</p>
    <img src="/static/1.png" alt="Image" height="500px">
</body>
</html>